<!DOCTYPE html>
<title>Palavra Misteriosa</title>

<meta name="description" content="Descubra a palavra misteriosa do Silvio Santos!">
<meta name="author" content="Rodrigo Sasaki">

<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  {% block body %}
  {% endblock %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
